<div class="banner">
    <div class="container indexBanner d-flex flex-column align-end">
        <h1 class="h1">Glasses Official</h1>
        <h2 class="">Promise-Desert 2020 早春系列</h2>
        <strong class="bold ">看得清，才能看得遠</strong>
        <p>
            <a href="#" class="pt-6 pb-6 pl-12 pr-12 bg-color-red inline-block decoration-none text-white mt-10 lh-29 font-20">立即購買</a>
        </p>
    </div>
    
</div>