<nav class="bg-color-darkRed special">
  <div class="container d-flex justify-between">
    <ul class="d-flex lh-30 font-20">
      <li>
        <a href="#" class="pt-13 pb-13 decoration-none text-white block"
          >最新消息</a
        >
      </li>
      <li>
        <a href="#" class="pt-13 pb-13 decoration-none text-white block"
          >特別企劃</a
        >
      </li>
      <li>
        <a href="#" class="pt-13 pb-13 decoration-none text-white block"
          >新品上市</a
        >
      </li>
      <li>
        <a href="#" class="pt-13 pb-13 decoration-none text-white block"
          >鏡框小知識</a
        >
      </li>
    </ul>
    <div class="blogSearch">
      <a href="#">
        <span
          class="material-symbols-outlined lh-30 font-30 text-white pt-13 pb-13 inline-block"
        >
          search
        </span>
      </a>
    </div>
  </div>
</nav>
<div class="container breadcrumb">
  <h6>
    <a href="#" class="text-black decoration-none">首頁</a> /
    <a href="./blog.html" class="text-black decoration-none">部落格</a> /
    <a href="#" class="text-black decoration-none">特別企劃</a> /
    <span class="text-darkRed">情人特別企劃</span>
  </h6>
</div>
<div class="container tags d-flex text-red mt-8">
  <p>#special</p>
  <p class="ml-16">#event</p>
</div>
<div class="container">
  <div class="specialContent d-flex gap-24 wrap-">
    <ul class="mb-80">
      <li>
        <h3>
          <a href="#" class="decoration-none text-black mt-8">情人特別企劃</a>
        </h3>
        <p class="w-100">2020 Valentine’s Special</p>
      </li>
      <li class="d-flex wrap-">
        <img src="../assets/images/blogpage-1.png" alt="blog-1" class="" />
        <article>
          一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
          即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻，只要從未來過本店的新朋友，綁定官方LINE好友，都可享專屬優惠⋯⋯
        </article>
      </li>
      <li class="d-flex wrap-">
        <img src="../assets/images/blogpage-2.png" alt="blog-2" class="" />
        <article>
          一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
          本次拍攝的鏡框款式與 NEEDS CLASSIC
          聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
        </article>
      </li>
      <li class="d-flex wrap-">
        <img src="../assets/images/blogpage-3.png" alt="blog-3" class="" />
        <article>
          一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
          本次拍攝的鏡框款式與 NEEDS CLASSIC
          聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
        </article>
      </li>
      <li class="d-flex wrap- border-bottom pb-16">
        <img src="../assets/images/blogpage-4.png" alt="blog-4" class="" />
        <article>
          <p>
            2/14(五)-2/20(日)<br />至本店單筆消費滿2980元,
            就送情人節限定眼鏡盒1個<br />期間優惠還有~~持他牌鏡框更換鏡片<br />薄型非球面鏡片折300元<br />濾藍光鏡片折500元<br />快快帶上另一半<br />讓彼此每一次睜開眼，都被愛的視線包圍!
          </p>
          <div class="d-flex align-center mt-40">
            <p><a href="#" class="text-black decoration-none bold">Share</a></p>
            <a href="#">
              <img
                src="../assets/images/logo-facebook.png"
                alt="fb"
                class="inline-block ml-16"
              />
            </a>
            <a href="#">
              <img
                src="../assets/images/logo-instagram.png"
                alt="ig"
                class="inline-block ml-16"
              />
            </a>
          </div>
        </article>
      </li>
      <li class="mt-24 d-flex justify-between specialPrevNext">
        <div class="d-flex align-center">
          <a href="#" class="decoration-none text-black">
            <span class="material-symbols-outlined d-flex align-center">
              arrow_back
            </span>
          </a>
          <p class="ml-12">
            <a href="#" class="decoration-none text-black"
              >上一篇：街頭潮人訪問 1</a
            >
          </p>
        </div>
        <div class="d-flex align-center">
          <p class="ml-12">
            <a href="#" class="decoration-none text-black"
              >下一篇：街頭潮人訪問 2</a
            >
          </p>
          <a href="#" class="decoration-none text-black">
            <span class="material-symbols-outlined ml-12 d-flex align-center">
              arrow_forward
            </span>
          </a>
        </div>
      </li>
    </ul>
    <ul class="d-flex flex-column tagsAside">
      <li class="d-flex align-center">
        <span
          class="material-symbols-outlined text-red inline-block lh-48 font-48"
        >
          label
        </span>
        <p class="font-32 lh-48 text-red ml-12">TAGS</p>
      </li>
      <li class="d-flex lh-36 font-24 text-red mt-4">
        <p>#special</p>
        <p class="ml-24">#sale</p>
      </li>
      <li class="d-flex lh-36 font-24 text-red mt-4">
        <p>#new_item</p>
        <p class="ml-24">#interview</p>
      </li>
      <li class="d-flex lh-36 font-24 text-red mt-4">
        <p>#trivia</p>
        <p class="ml-24">#news</p>
      </li>
      <li class="lh-36 font-24 text-red mt-4">
        <p>#event</p>
      </li>
    </ul>
  </div>
</div>
